@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "system-ui", sans-serif !important;
  font-weight: normal;
}

button {
  background-color: #70b797;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: center;
  font-size: 14px;
  min-width: 120px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #f1f1f1;
}

input {
  border: 1px solid #6d6d6d !important;
  padding-left: 20px;
  border-radius: 4px !important;
}

h1,
div.App {
  justify-content: center !important;
  display: grid !important;
}

.btn {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

input {
  margin-left: 5px;
  margin-right: 5px;
}
